/*== reset bootstrap color ==*/
$primary: rgb(50, 67, 118);
@import '~bootstrap/scss/bootstrap';

/*==== my colors ====*/
$mint: rgb(190, 233, 232);
$gray-l: rgb(247, 247, 255);

/*==== bootstrap navTab ====*/
.row {
 margin: 0 !important;
}
hr {
  color: rgb(225, 229, 242);
}
.nav-link {
  color: $mint !important;
}
.nav-link.active {
  color: $primary !important;
  background-color: $mint !important;
  border: 1px solid $mint !important;
}
.list-group-item {
  background-color: transparent !important;
  color: $primary !important;
  font-weight: bold;
}
.list-group-item.active {
  background-color: $mint !important;
  border: none;
  color: $primary !important;
}

/*==== bootstrap nav-modal =====*/
.modal-header  {
  padding: 1rem 1.2rem !important;
  font-size: 1.12rem;
  font-weight: bold;
  color: $primary !important;

  button.close {
    background-color: transparent !important;
    border: none;
  }
  span {
    font-weight: bold;
    font-size: 1.1rem;
  }
}
/*==== bootstrap btn =====*/
.btn-secondary {
  background-color: $mint !important;
  border: 1px solid $mint;
  color: $primary;
}

/*==== background colors ====*/
.bg-blue {
  background-color:  $primary !important;
}
.bg-mint {
  background-color: $mint;
}
.bg-gray-l {
  background-color: $gray-l;
}
.bg-white {
  background-color: white;
}

