/*==== my colors ====*/
.bg-purple {
  background-color:  rgb(94, 84, 142) !important;
}
.bg-purple-l {
  background-color: rgb(159, 134, 192);
}

.btn.btn-primary {
  background-color: rgb(94, 84, 142) !important;
  border-color: rgb(94, 84, 142) !important;
}
