/*==== nav-tab =====*/
.border {
  border-radius: 20px;
}
.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(190, 233, 232);
  color:  rgb(94, 84, 142);
  font-weight: bold;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navTab {
  border-radius: 32px;
  border-left:  4px solid white;
  border-right:  4px solid white;
}
.tabTitle{
  text-align: center;
  padding: 16px 0;
  margin: 0;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid rgb(94, 84, 142);
  color: white;
  font-size:  1.25rem;
  background-color: rgb(94, 84, 142);
}
.buttom {
  min-height: 42px;
}
