.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  color:  white;
  font-weight: bold;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: rgb(224, 177, 203);
  color:  rgb(94, 84, 142);
  font-weight: bold;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*==== nav-tab =====*/
.nav-tabs .nav-link.active {
}

.navTab {
  height:  100%;
  background-color: rgb(159, 134, 192);
}

.active {
  background-color: rgb(224, 177, 203) !important;

}

a.nav-link .svg-inline--fa {
  color:  black !important;
}

.active .svg-inline--fa {
  background-color: rgb(94, 84, 142) !important;
}
